*{
margin: 0;padding: 0;
font-family: 'Grandstander', cursive;

}
.main{
width: "100%";
min-height: 95vh;
position: relative;
overflow: hidden;
background-image: url("Background-image.png");
}
nav{
    background: linear-gradient(to right, #9c27b0, #8ecdff);
    height: 75px;
    width: 80%;
    position: sticky;
    margin: 25px auto;
    z-index: 1;
    display: flex;
    align-items: center;
}
.logo
{
    margin: 25px auto;
}
.links{
    flex: 1;
    text-align: right;
}
.links ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}
.links ul li a{
    color: #fff;
    text-decoration: none;
    }
.about{   
    margin: 25px auto;
    width: 80%;
    background-color: white;
    font-size: 20px;
    text-align: center;
}
.more{
    text-align: center;
    color: blue;
    text-decoration: none;
}
.sanjeev{
    margin: 0 auto;
    width:100%;
    text-align: center;
    background-color: black;
    color: white;
    align-items: center;
}
.connectlogo{
    background: linear-gradient(to right, #9c27b0, #8ecdff);
}
#h1{
    font-size:20px;
}
#aboutus,#events,#contacts
{
    color: white;
}